<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!--合作身份者ID，以2088开头由16位纯数字组成的字符串-->
  <partner>2088611730842985</partner>
  <!--交易安全检验码，由数字和字母组成的32位字符串-->
  <key>4craritvf97feexkfu8wgdc59xzx1rgf</key>
  <privatekey>MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAK6A3w9aCDmdZ7pQZ8IEQIrg9C5C3PFmCsl/cLBXvu06UzkJTGPjlwTYyIDzFxdx1YHY9unLbeEzmbj/y+gXQFIzG0Ra/DfYucvOwF2QVt3lR06xOo+5Tgt4R3tsDjFO7ATRpbcxBWm5m59wJ2uy95l2ihP5O08L0nRH6bCeH36LAgMBAAECgYA0yDgwHYxlWO4aFd38emrHVxmksIbB4Zqbrhd4z2Gpwb2Qf/aCNEHmrmefUWgHqF/rQaQVvXmD56a0pXKYxgenFWFBTmX7/qj4TJlCvwcDIBhTmqzfcSLjH7XQjqXOQfVCRPnb7SKEbKzcDl7Ymq3vsBXsdWxPGRbMQJewCvbemQJBANypKptVDJNdCRsrumzk+c/OhuCXKBrQ1vuMslJl162Vqyib0g9T8x83CIpFgBUkaKHzBYGqyIYlHyrnE+X2A70CQQDKc04/7Unel0NIIGDbzK0rwYskxMyy+tT3JR5NgPnFPsqoRmmlLkkd0Wii0eGTR6j1eZDvh0WpVbRgg5Q57QvnAkEAgpkMwop/uughb5dd6v1KbReK9HoCHnzkAFWxZNsp327psksm9DN3fU4RG+UufVTjKJaw96GgtORbogTJ3hzQ8QJAY48CyzNBIYLXpo+tskncW2lJqSJS3C24L3YEie7EZfi0Jr7B02aItG43++IlAY27DETlPrYSTu0D0HbEnRvyvwJBAIduBvO8N4RtsTKs3zQYZo1m5GopxdUvNUTcxpbbHLqhrJCA8Az8727SQJZr0Ht1kQUEbPsLIvSFQmvBObPbZv8=</privatekey>
  <publickey>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCdEa5W0Nna9oLlT/HG7TvIOeV5Va0r6ezKwqaW hmuDVSPufRH8MDQoCYYFFvwWVzReYeuSAT8wxPfEbFzJTjRUcydHx21j3Mnj2eOv3OGAorvPeOXS nhDSD4piCXjhaRiBaC6eRFzHNvC4UElZhv8RpdpXvI/bTTO+toMx7YzNWQIDAQAB</publickey>
  <!--签约支付宝账号或卖家支付宝帐户-->
  <email>frank3660@qq.com</email>
  <!--接口类型1即时到帐2担保交易-->
  <type>1</type>
  <!--页面跳转同步返回页面文件路径 要用 http://格式的完整路径，不允许加?id=123这类自定义参数-->
  <return_url>/api/payment/alipay/return_url.aspx</return_url>
  <!--服务器通知的页面文件路径 要用 http://格式的完整路径，不允许加?id=123这类自定义参数-->
  <notify_url>/api/payment/alipay/notify_url.aspx</notify_url>
</Root>