<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname> LUCKING'PIE 馍王 | 网上订餐 | 叫外卖 | 30分钟送达</webname>
  <webcompany>LUCKING'PIE 馍王 </webcompany>
  <weburl>http://www.4008317417.cn</weburl>
  <webtel />
  <webfax>-</webfax>
  <webmail />
  <webcrod>沪ICP备14034114号-1 frank3660艾特msn.com</webcrod>
  <webtitle>LUCKING'PIE 馍王 </webtitle>
  <webkeyword>LUCKING'PIE 馍王，馍王，肉夹馍，凉皮，饭，甜品，油泼面，馍王外卖，豆浆、热饮，徐家汇，外卖，网上订餐，4008317417，4008317417.com，上海馍王</webkeyword>
  <webdescription>LUCKINGPIE 馍王，以标准化的产品结构，运营上百年历史的肉夹馍，辅以凉皮、油泼辣面、粗粮饮、小食、甜品等产品。通过独特的线上订餐与线下结合的O2O模式，深受大众欢迎。</webdescription>
  <webcopyright>© 2016 LUCKING'PIE 版权所有 沪ICP备14034114号-1</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>frank3660</webmanagepath>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <emailstmp>smtp.163.com</emailstmp>
  <emailport>25</emailport>
  <emailfrom>luckingpie@163.com</emailfrom>
  <emailusername>luckingpie</emailusername>
  <emailpassword>61F8F6CEFD481F676E4B6795CCFF764B</emailpassword>
  <emailnickname>LUCKING'PIE 馍王</emailnickname>
  <attachpath>upload</attachpath>
  <attachextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</attachextension>
  <attachsave>2</attachsave>
  <attachfilesize>51200</attachfilesize>
  <attachimgsize>10240</attachimgsize>
  <attachimgmaxheight>0</attachimgmaxheight>
  <attachimgmaxwidth>0</attachimgmaxwidth>
  <thumbnailheight>0</thumbnailheight>
  <thumbnailwidth>0</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>luckingpie</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <templateskin>green</templateskin>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
  <busy>off</busy>
  <starttime>00:00</starttime>
  <endtime>23:59</endtime>
  <lowamount>0.01</lowamount>
  <lowamount_2>39</lowamount_2>
  <freedisamount>0</freedisamount>
  <disamount>0</disamount>
  <TaoDianDianAccount>i888@qq.com</TaoDianDianAccount>
  <IsNullCartAccount>i777@qq.com</IsNullCartAccount>
  <HeadPhoto1>/upload/201512/08/201512081902213989.jpg</HeadPhoto1>
  <HeadPhoto2>/upload/201506/11/201506111057533262.jpg</HeadPhoto2>
  <HeadPhoto3>/upload/201512/02/201512021105477906.jpg</HeadPhoto3>
  <HeadPhoto4>/upload/201505/15/201505151840035941.jpg</HeadPhoto4>
  <HeadPhoto5>/upload/201510/29/201510292242513409.jpg</HeadPhoto5>
  <HeadPhoto6>/upload/201512/22/201512221521021250.jpg</HeadPhoto6>
  <HeadPhoto7 />
  <HeadPhoto8 />
  <mp_welcometitle>HI！欢迎体验智能点餐！</mp_welcometitle>
  <mp_welcomecontent>【堂吃】微信点餐，镇店现磨纯豆浆0元！
【外卖】配送时间：11:00—20:00，约30分钟送达！
【售后】请点订单相关对应操作，店铺直接快速处理。</mp_welcomecontent>
  <mp_welcomeimage>/upload/201601/24/201601240935280904.jpg</mp_welcomeimage>
  <mp_backgroundimage />
  <mp_backgroundimage2 />
  <mp_appid>wxe9684159ee909bcc</mp_appid>
  <mp_appsecret>c9a1cecd3952476d319abb17a92495d1</mp_appsecret>
  <mp_menu>{"button":[
{"type":"view","name":" 此号停用","url":"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxe9684159ee909bcc&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_index.aspx%3Fshowwxpaytitle%3D1&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"},
{
}
]}</mp_menu>
  <mp_aeskey />
  <mp_slave_appid>wxc5776b5774a3d010</mp_slave_appid>
  <mp_slave_appsecret>24f623cb574c4b1071f50b36f1a35ebe</mp_slave_appsecret>
  <mp_slave_menu>{
	"button": [{
		"type": "view",
		"name": "点餐",
		"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_index.aspx%3Fshowwxpaytitle%3D1&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
	},
	{
		"type": "view",
		"name": "余额换豆浆",
		"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_join_company.aspx%3Fshowwxpaytitle%3D1&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
	},
	{
		"name": "查询/补单",
		"sub_button": [{
			"type": "view",
			"name": "补单(十分钟内)",
			"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_additional.aspx&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
		},
		{
			"type": "view",
			"name": "狠狠的催一下",
			"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_quick.aspx&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
		},
		{
			"type": "view",
			"name": "备注/售后/发票",
			"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_less.aspx&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
		},
		{
			"type": "view",
			"name": "订单状态",
			"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_index.aspx%3Ftab%3D2&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
		}]
	}]
}</mp_slave_menu>
  <mp_slave_aeskey />
  <ForHerNumber>8</ForHerNumber>
  <starttime_here>00:00</starttime_here>
  <endtime_here>23:59</endtime_here>
  <additional>10</additional>
  <additional_force>11</additional_force>
  <mp_temp_submitorder_first>太棒了，自助下单成功！</mp_temp_submitorder_first>
  <mp_temp_submitorder_remark>重要！无电话值守！如有错少送及一切情况，请点订单处理操作。</mp_temp_submitorder_remark>
  <mp_temp_error_area_first>当前餐厅较忙，为不影响您用餐，订单已取消，非常抱歉！</mp_temp_error_area_first>
  <mp_temp_error_area_remark>已支付订单将在8小时内为您退款！</mp_temp_error_area_remark>
  <mp_temp_range_out_first>抱歉，您的订单因超出1.8公里配送范围已取消。</mp_temp_range_out_first>
  <mp_temp_range_out_remark>已支付订单将在8小时内为您退款！</mp_temp_range_out_remark>
  <mp_temp_distribution_takeout_first>您的美味已装入保温箱出发啦！</mp_temp_distribution_takeout_first>
  <mp_temp_distribution_takeout_remark>重要！如有错少送及一切情况，请点订单处理/通知。无电话值守！</mp_temp_distribution_takeout_remark>
  <mp_temp_distribution_takeout_keyword5>稍候片刻，美味即达！</mp_temp_distribution_takeout_keyword5>
  <mp_temp_much_condition_first>请检查地址电话或备注要求，订单已取消，请重新下单。</mp_temp_much_condition_first>
  <mp_temp_much_condition_remark>已支付订单将在8小时内为您退款！</mp_temp_much_condition_remark>
  <mp_temp_call_takeout_first />
  <mp_temp_call_takeout_remark />
  <alarm_message_lowamount>抱歉，因节后配力紧张，需满{0}元配送！</alarm_message_lowamount>
  <DeliverPayMaxAmountForMp>99</DeliverPayMaxAmountForMp>
  <DeliverPayMaxAmountForWeb>0</DeliverPayMaxAmountForWeb>
  <RunLoopThirdOrder>1</RunLoopThirdOrder>
  <RunTigoon>1</RunTigoon>
  <SyncOrderToDownload>0</SyncOrderToDownload>
  <BaiduCookie>BAIDUID=5E092767E1660AA9910D2D844105FE8D:FG=1; PSTM=1472730394; BDSFRCVID=4RtsJeC62iM1xDjR15H5tSBIFjTE3AJTH6ao-nD9_wO3PAca5LWwEG0PJ7lQpYDbolF1ogKKymOTHurP; H_BDCLCKID_SF=tR-t_DKKtK03fJrYhPI_-PAt-U4Xat0XKKOLVKb4bPOkeq8CD4rYDJkvMRKDtxktbN7GalQ_QpK5Eqc2y5jHhIuHQard-M4eLg623C51Q-3psIJMy6JS0J84QM5y2UKDaKvia-TEBMb1ftoMe4bK-Tr3jN8Otf5; BIDUPSID=E27805A9E82C8726F37F3D72BBF19602; H_PS_PSSID=20987_20963_20742_1429_17713_18281_21125_17001_20856_20733_20837_20928; WMUSS=HMCAAAIdk8oKTsgbjIJA2Ifbx5CVEVrYFo1VlU7SkhxNhRiPgoyZjNsBiEeDyQBALRQfb2djWkg-EB4US2hbPB5vHlt4T0ErPEdMWlZwWgQEeXJrXEwzG1xRLic5CmNXeAEycFBzHA07aGYSWUEVXDrkBCkBJWBbER8H8gvDPdQRLBStAUN5WhSIlQA4CIAA; WMSTOKEN=MAABMgAABbXzoOUAoCbBY8VHxOLT1iCnZpUQ08Sz5rFxxBHAzbcAAGNydyFoxAAAR6dmI0BTI-Bh9UQnNQEKSwnwDDLv0OIFMAAGRmfxWJDwAAyYipGbVopBnhQ10btB; new_remind_time=1473603252; new_order_time=1473603294; _wmcrmpush=60C47CA03E54A521ED43028B338AED70_1473603355_10_1551569496_xjhmwzsxl0; newyear=open</BaiduCookie>
  <MeituanCookie>device_uuid=Y2U3ZGM2YzctMTllMi00OThkLTlmZjMtZGVkNDkyNzYwZTAx; acctId=4242487; token=01MakK2ZGC8-PK9R-hYS5fDF10_HyhIjyNvnjLSFkUEY*; brandId=-1; wmPoiId=664199; isOfflineSelfOpen=0; city_id=310100; isChain=0; existBrandPoi=false; userName=luck16; pushToken=01MakK2ZGC8-PK9R-hYS5fDF10_HyhIjyNvnjLSFkUEY*; _lxsdk=157c10a3b47c8-0057b9617d8d82-6b3e097e-13c680-157c10a3b48c8; shopCategory=food; cityId=310100; provinceId=310000; JSESSIONID=qvvu8c57gl7dljegz90cj002; __mta=251592633.1476412455986.1477539540005.1477539541108.7; wpush_server_url=wss://wpush.meituan.com; _lxsdk_s=6fb232bc4d558d3326f13e73baba%7C%7C5</MeituanCookie>
  <ElemeCookie>ubt_ssid=p8eeenn0ie24dau5iwmhfiutt1kuef5f_2016-07-21; _utrace=909f34c7f1bb61aaada7c94ccf359405_2016-07-21</ElemeCookie>
  <vip_join_welcome_title />
  <vip_join_welcome_name />
  <vip_join_welcome_companyname />
  <vip_join_welcome_footer />
  <vip_enough_title />
  <vip_enough_footer />
  <vip_join_approve_title />
  <enable_waimai_vip>true</enable_waimai_vip>
  <enable_register_company_send_voucher>true</enable_register_company_send_voucher>
</siteconfig>