<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>LUCKINGPIE </webname>
  <webcompany>LUCKINGPIE</webcompany>
  <weburl>http://www.4008317417.cn</weburl>
  <webtel />
  <webfax>-</webfax>
  <webmail />
  <webcrod>沪ICP备14034114号-1 frank3660艾特msn.com</webcrod>
  <webtitle>LUCKINGPIE</webtitle>
  <webkeyword>LUCKINGPIE 肉夹馍，凉皮，饭，甜品，油泼面，馍王外卖，豆浆、热饮，徐家汇，外卖，网上订餐，4008317417，4008317417.com，上海馍王</webkeyword>
  <webdescription>LUCKINGPIE，以标准化的产品结构，运营上百年历史的肉夹馍，辅以凉皮、油泼辣面、粗粮饮、小食、甜品等产品。通过独特的线上订餐与线下结合的O2O模式，深受大众欢迎。</webdescription>
  <webcopyright>© 2017 LUCKING'PIE 版权所有 &lt;a target="_blank" href="http://www.miitbeian.gov.cn" style="color: #808080;
    text-decoration: none;"&gt;沪ICP备14034114号-1&lt;/a&gt;</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>frank3660</webmanagepath>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <emailstmp>smtp.163.com</emailstmp>
  <emailport>25</emailport>
  <emailfrom>luckingpie@163.com</emailfrom>
  <emailusername>frank3660@126.com</emailusername>
  <emailpassword>61F8F6CEFD481F67AF39B0948B94EF65</emailpassword>
  <emailnickname>LUCKING'PIE</emailnickname>
  <attachpath>upload</attachpath>
  <attachextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</attachextension>
  <attachsave>2</attachsave>
  <attachfilesize>51200</attachfilesize>
  <attachimgsize>10240</attachimgsize>
  <attachimgmaxheight>0</attachimgmaxheight>
  <attachimgmaxwidth>0</attachimgmaxwidth>
  <thumbnailheight>0</thumbnailheight>
  <thumbnailwidth>0</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>luckingpie</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <templateskin>green</templateskin>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
  <busy>off</busy>
  <starttime>09:00</starttime>
  <endtime>20:05</endtime>
  <lowamount>24</lowamount>
  <lowamount_2>39</lowamount_2>
  <freedisamount>0</freedisamount>
  <disamount>4</disamount>
  <TaoDianDianAccount>i888@qq.com</TaoDianDianAccount>
  <IsNullCartAccount>i888@qq.com</IsNullCartAccount>
  <HeadPhoto1>/upload/201710/06/201710061100354220.jpg</HeadPhoto1>
  <HeadPhoto2 />
  <HeadPhoto3 />
  <HeadPhoto4 />
  <HeadPhoto5 />
  <HeadPhoto6 />
  <HeadPhoto7 />
  <HeadPhoto8 />
  <mp_welcometitle>【重要技巧】套餐中想换成萃辣馍王？点中馍即可切换</mp_welcometitle>
  <mp_welcomecontent>【技巧】套餐中想换成萃辣馍王？点中馍即可切换
【外卖】配送时间10:30—20:00，约30分钟送达！紧急联系:17749720795
【售后】请点查询/补单操作，店铺直接快速处理。</mp_welcomecontent>
  <mp_welcomeimage>/upload/201805/17/201805171056006152.jpg</mp_welcomeimage>
  <mp_backgroundimage />
  <mp_backgroundimage2 />
  <mp_appid>wxe9684159ee909bcc</mp_appid>
  <mp_appsecret>c9a1cecd3952476d319abb17a92495d1</mp_appsecret>
  <mp_menu>{"button":[
{"type":"view","name":"此号停用","url":"https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxe9684159ee909bcc&amp;redirect_uri=http://www.4008317417.cn/mp_index.aspx?showwxpaytitle=1&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"},
{
}
]}</mp_menu>
  <mp_aeskey />
  <mp_slave_appid>wxc5776b5774a3d010</mp_slave_appid>
  <mp_slave_appsecret>24f623cb574c4b1071f50b36f1a35ebe</mp_slave_appsecret>
  <mp_slave_menu>{
	"button": [{
		"type": "view",
		"name": "👉点此点餐",
		"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_index.aspx%3Fshowwxpaytitle%3D1&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
	},
	{
		"type": "view",
		"name": "🎁我的VIP",
		"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_join_company.aspx%3Fshowwxpaytitle%3D1&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
	},
	{
		"name": "查询❓补单",
		"sub_button": [{
			"type": "view",
			"name": "补单(十分钟内)",
			"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_additional.aspx&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
		},
		{
			"type": "view",
			"name": "狠狠的催一下",
			"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_quick.aspx&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
		},
		{
			"type": "view",
			"name": "备注/售后/发票",
			"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_less.aspx&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
		},
		{
			"type": "view",
			"name": "订单/状态查询",
			"url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc5776b5774a3d010&amp;redirect_uri=http%3A%2F%2Fwww.4008317417.cn%2Fmp_index.aspx%3Ftab%3D2&amp;response_type=code&amp;scope=snsapi_userinfo&amp;state=slave#wechat_redirect"
		}]
	}]
}</mp_slave_menu>
  <mp_slave_aeskey />
  <ForHerNumber>8</ForHerNumber>
  <starttime_here>07:45</starttime_here>
  <endtime_here>21:00</endtime_here>
  <additional>10</additional>
  <additional_force>11</additional_force>
  <mp_temp_submitorder_first>漂浮冰咖广受好评!选用奥地利顶级小红帽咖啡!</mp_temp_submitorder_first>
  <mp_temp_submitorder_remark>请留意微信出单通知，约30分钟送达✊</mp_temp_submitorder_remark>
  <mp_temp_error_area_first>当前餐厅较忙，为不影响您用餐，订单已取消，非常抱歉！</mp_temp_error_area_first>
  <mp_temp_error_area_remark>已支付订单将在6小时内为您退款！</mp_temp_error_area_remark>
  <mp_temp_range_out_first>您的订单超范围，为不影响您用餐，订单已取消，非常抱歉！</mp_temp_range_out_first>
  <mp_temp_range_out_remark>已支付订单将在6小时内为您退款！</mp_temp_range_out_remark>
  <mp_temp_distribution_takeout_first>您的美味已出发，稍候请至贵司前台取餐/保持电话畅通</mp_temp_distribution_takeout_first>
  <mp_temp_distribution_takeout_remark>重要❗如有错少送及一切情况❗请在查询补单中对应提交</mp_temp_distribution_takeout_remark>
  <mp_temp_distribution_takeout_keyword5>约15-20分钟后，请至贵司前台取餐/保持电话畅通</mp_temp_distribution_takeout_keyword5>
  <mp_temp_much_condition_first>请检查地址电话或备注要求，订单已取消，请重新下单。</mp_temp_much_condition_first>
  <mp_temp_much_condition_remark>已支付订单将在6小时内为您退款！</mp_temp_much_condition_remark>
  <mp_temp_call_takeout_first>您的餐品已备齐❗请至店铺前台取餐❗</mp_temp_call_takeout_first>
  <mp_temp_call_takeout_remark>漂浮冰咖广受好评!选用奥地利顶级小红帽咖啡!</mp_temp_call_takeout_remark>
  <alarm_message_lowamount>很抱歉！当前配力紧张，需{0}元起送。</alarm_message_lowamount>
  <DeliverPayMaxAmountForMp>250</DeliverPayMaxAmountForMp>
  <DeliverPayMaxAmountForWeb>250</DeliverPayMaxAmountForWeb>
  <RunLoopThirdOrder>1</RunLoopThirdOrder>
  <RunTigoon>0</RunTigoon>
  <SyncOrderToDownload>1</SyncOrderToDownload>
  <BaiduCookie />
  <MeituanCookie />
  <ElemeCookie />
  <vip_join_welcome_title>恭喜您加入贵司VIP！</vip_join_welcome_title>
  <vip_join_welcome_name />
  <vip_join_welcome_companyname />
  <vip_join_welcome_footer>余额可抵扣购物车页中饮料，有效期1个月。</vip_join_welcome_footer>
  <vip_enough_title>有新同事进来啦！所有组内同事余额各增加2元：）</vip_enough_title>
  <vip_enough_footer>漂浮冰咖广受好评!选用奥地利顶级小红帽咖啡!</vip_enough_footer>
  <vip_join_approve_title>欢迎加入贵司VIP！余额可抵扣购物车页饮料。</vip_join_approve_title>
  <enable_waimai_vip>true</enable_waimai_vip>
  <enable_register_company_send_voucher>true</enable_register_company_send_voucher>
</siteconfig>