<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <title>{config.webname}</title>
    <meta content="{config.webkeyword}" name="keywords">
    <meta content="{config.webdescription}" name="description">
    <script src="{config.templateskin}/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="{config.templateskin}/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="{config.templateskin}/js/mp.js?ver=148" type="text/javascript"></script>
    <link media="screen" type="text/css" href="{config.templateskin}/css/mp.css?ver=54" rel="stylesheet">
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=BOEBZ-2AB2R-IKTWG-W2JQG-HEUOV-2RF7Z"></script>
    <script src="{config.templateskin}/js/jquery-ui.min.js" type="text/javascript"></script>
    <link media="screen" type="text/css" href="{config.templateskin}/css/jquery-ui.min.css" rel="stylesheet">
    <script src="{config.templateskin}/grumble/js/jquery.grumble.min.js" type="text/javascript"></script>
    <link media="screen" type="text/css" href="{config.templateskin}/grumble/css/grumble.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css" />
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.2&key=7d8ed28d4ece5addd313d27d53d91b75"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script type="text/javascript">
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{config.mp_slave_appid}', // 必填，公众号的唯一标识
            timestamp: {jstimestamp}, // 必填，生成签名的时间戳
                    nonceStr: '{jsnoncestr}', // 必填，生成签名的随机串
                    signature: '{mp_signature}',// 必填，签名，见附录1
            jsApiList: ['chooseWXPay'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.error(function(res){
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，
            //也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

        });
        var auto_areas = new Array();
        <%loop drAreaOffline dtOfflineArea%>
        auto_areas.push({ 'title': '{drAreaOffline[Title]}', 'location': { 'lat': {drAreaOffline[lat]}, 'lng': {drAreaOffline[lng]} },'id':{drAreaOffline[id]}});
        <%/loop%>
    </script>
    <style>
        .person_info {
            background-image: url(/templates/green/joincompany/join_company_5.png);
            width: 110px;
            height: 110px;
            background-size: 110px;
            padding-left: 15px;
            box-sizing: border-box;
            padding-top: 16px;
        }

        .item2 {
            padding: 8px 16px 8px 16px;
            background: rgb(127,78,32); /* 堂吃没选中底 */
            color: #fefefe;
            font-size: 16px;
            border-bottom: 1px solid rgb(137, 137, 137);
            margin-bottom: 5px;
        }
    </style>
</head>
<body style="background-repeat:no-repeat;background-size:100% 100%;">
    <div id="DivLocker" style="position:absolute;background-color:rgba(0, 0, 0,0.5);filter:alpha(opacity=30);overflow:hidden;z-index:5;display:none;">
        <img src="/templates/green/img/mp_loading.gif" style="margin:100px auto;display:block;" />
    </div>
    <div id="DivChangeFocus" style="position:absolute;background-color:rgba(0, 0, 0,0.5);filter:alpha(opacity=30);overflow:hidden;z-index:5;display:none;">
        <img src="/templates/green/img/changeweixin.jpg" style="margin:10px auto;display:block;" />
    </div>

    <div id="DivConfirm" style="position:absolute;background-color:rgba(0, 0, 0,0.8);filter:alpha(opacity=30);overflow:hidden;z-index:5;display:none;">
        <div style="width: 100%;margin: 40% 0%;text-align: center;">
            <span style="color: red;font-size: 28px;font-weight: bold;" id="confirmTip1">【特别提醒】<br />请核对当前下单店铺地址<br />下单即做 无法改退单</span>
            <div style="background-color: rgb(233,84,18);width: 280px;margin: 15px auto;padding: 10px 0px;border-radius: 15px;">
                <span style="font-weight: bold;font-size: 28px;color: white;display: block;">馍王<font id="confirmTitle"></font></span>
                <i style="border-top: 1px dotted white;width: 40px;display: inline-block;vertical-align: middle;"></i>
                <span style="color: white;" id="confirmAddress"></span>
                <i style="border-top: 1px dotted white;width: 40px;display: inline-block;vertical-align: middle;"></i>
            </div>
            <div style="color: white;font-size: 28px;display:none;margin: -10px 0px 10px;" id="confirmTip2">完成配送及售后</div>
            <a id="confirmAccept" href="javascript:$('#DivConfirm').hide();ShowHeadLine();" style="display: block;color: white;background-color: red;border: 1px solid white;height: 60px;width: 60px;line-height: 60px;font-size: 24px;border-radius: 50%;margin: 0px auto;text-decoration: none;margin-bottom: 10px;">是</a>
            <a href="javascript:void(0)" id="btnConfirmReturn" style="display: block;color: white;background-color: rgb(128,78,43);border: 1px solid white;height: 60px;width: 60px;line-height: 60px;font-size: 24px;border-radius: 50%;margin: 0px auto;text-decoration: none;">不是</a>
        </div>
    </div>
    <div id="DivTipAreaAddress" style="position:absolute;background-color:rgba(0, 0, 0,0.8);filter:alpha(opacity=30);overflow:hidden;z-index:5;display:none;">
        <div style="width: 100%;margin: 40% 0%;text-align: center;">
            <span style="color:white; font-size: 28px;font-weight: bold;" id="confirmTip1">您的外卖将由</span>
            <div style="background-color: rgb(233,84,18);width: 280px;margin: 15px auto;padding: 10px 0px;border-radius: 15px;">
                <span style="font-weight: bold;font-size: 28px;color: white;display: block;">馍王<font id="TipAreaAddressTitle"></font></span>
                <i style="border-top: 1px dotted white;width: 40px;display: inline-block;vertical-align: middle;"></i>
                <span style="color: white;" id="TipAreaAddressAddress"></span>
                <i style="border-top: 1px dotted white;width: 40px;display: inline-block;vertical-align: middle;"></i>
            </div>
            <div style="color: white;font-size: 28px;margin: -10px 0px 10px;">完成配送及售后</div>
        </div>
    </div>
    <div id="DivHeadLine" style="position:absolute;background-color:rgba(0, 0, 0,0.8);filter:alpha(opacity=30);overflow:hidden;z-index:5;display:none;">
        <div style="width: 100%;margin: 40% 0%;text-align: center;">
            <span style="color: white;font-size: 28px;color:rgb(249,232,90);" id="headlineTitle">半价5元</span>
            <img src="" id="DivHeadLineImg" style="width: 200px;margin: 10px auto;display:block;" />
            <a href="javascript:void(0);" class="btn" onclick="$('#btnCarnivalOffline').click();$('#DivHeadLine').hide();">先加入购物车</a>
            <a href="javascript:void(0);" class="btn" style="background-color: rgb(147,97,62);" onclick="$('#divCarnivalOffline .item .unselect').removeClass('cover');$('#DivHeadLine').hide();">不需要 直接点餐</a>
        </div>
    </div>
    <!--在线/堂吃选择Begin-->
    <div class="typechoice" style="{divShowAndHide[0]}">
        <div class="logo_top"></div>
        <div class="main">
            <ul>
                <li class="item" style="background-color: white;">
                    <img src="/templates/green/holiday/logo_waimai.png" style="width: 75px;margin-top: 18px;" />
                    <span style="display: block;color: rgb(97,57,28);font-size: 21px;font-weight: bold;">馍王送</span>
                </li>
                <li class="item" style="background-color: white; ">
                    <img src="/templates/green/holiday/logo_tangchi.png" style="width: 115px;margin-top: 22px;margin-bottom: 8px;" />
                    <span style="display: block;color: rgb(97,57,28);font-size: 21px;font-weight: bold;">堂吃/打包</span>
                    <span class="quan">券</span>
                </li>
                <%if modelCompany!=null%>
                <li class="item1" style="margin-left:30px">
                    <div class="person_info">
                        <table style="margin-bottom:3px">
                            <tr>
                                <td rowspan="2" style="width: 38px;color: rgba(0,161,233,1);font-size: 27px;text-align: center;">{modelCompany.PersonCount}</td>
                                <td style="font-size: 12px;color: rgba(0,161,233,1);">位</td>
                            </tr>
                            <tr>
                                <td style="font-size: 12px;color: rgba(0,161,233,1);">同事</td>
                            </tr>
                            <tr>
                                <td rowspan="2" style="width: 38px;color: rgba(234,85,22,1);font-size: 27px;text-align: center;">{avaliableCompanyAmount}</td>
                                <td style="font-size: 12px;color: rgba(234,85,22,1);">余额</td>
                            </tr>
                            <tr>
                                <td style="font-size: 12px;color: rgba(234,85,22,1);">元</td>
                            </tr>
                        </table>
                    </div>
                </li>
                <%/if%>
            </ul>

        </div>
        <!--<div style="position: absolute; bottom: 20px; width: 100%; text-align: center;">
            <img src="{userModel.avatar}" style="width: 50px;border-radius: 50%;">
            <span style="display: block;color: white;font-size: 12px;">{userModel.nick_name}</span>
        </div>-->
    </div>
    <!--在线/堂吃选择End-->
    <!--区域选择Begin-->
    <div id="divArea" style="{divShowAndHide[1]}" class="online">
        <ul class="area_select">
            <%loop drArea dtArea%>
            <li class="item " data-id="{drArea[Id]}" data-content="{drArea[Description]}">{drArea[Title]}</li>
            <%/loop%>
        </ul>
        <div class="area_confirm">
            <div class="area_detail">
                <%if dtArea.Rows.Count>0%>
                <%write dtArea.Rows[0]["Description"].ToString()%>
                <%/if%>
            </div>
            <div class="confirm_div">
                请确认所在区域
            </div>
        </div>
    </div>
    <!--区域选择End-->
    <!--地址定位Begin-->
    <div class="input_address_main" style="display:none;" id="divInputAddress">
        <input type="text" placeholder="输入您所在的写字楼\小区等，在下拉框出来后选中" class="txt" id="txtInputAddres" style="width:98%;" />
        <!--<input type="text" placeholder="房间号等" class="txt" id="txtInputDetail" style="width:30%;"/>-->
        <div style="text-align: center;">
            <a class="btnCircle" id="btnStartOrder" style="display:none;">确定</a>
        </div>
    </div>
    <!--地址定位End-->
    <!--地址定位Begin-->
    <div class="user_address" style="display:none;" id="divUserAddress">
        <ul></ul>
        <div style="text-align: center;">
            <a class="btnCircle cancel" id="btnCancelUserAddress" style="margin-top: 40px;">新增地址</a>
        </div>
    </div>
    <!--地址定位End-->
    <!--区域选择Begin-->
    <div id="divOfflineArea" style="{divShowAndHide[2]}" class="offline">
        <ul class="area_select"></ul>
        <div style="text-align: center;">
            <a class="btnCircle" id="btnStartOfflineOrder">确定</a>
        </div>
    </div>
    <div id="divOfflineAreaError" style="display:none;" class="offline input_address_main">
        <input type="text" placeholder="定位失败，请咨询前台操作" class="txt" id="txtInputAddresTake" style="width:98%;" />
        <div style="text-align: center;">
            <a class="btnCircle" style="line-height:50px;">确认</a>
        </div>
    </div>
    <!--区域选择End-->
    <!--Main Begin-->
    <div style="overflow:hidden;">
        <div id="divGoods" style="display: none; transform:translate3d(0px, 0px, 0px); -ms-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px); transition: all 0.5s ease-in-out;">
            <div class="transdiv" style="background-color:white;">
                <div class="order">
                    <div class="detail" style="text-align: center;">
                        <span>没有选购餐品</span>
                    </div>
                </div>
                <%if modelCompany!=null%>
                <%if config.enable_waimai_vip%>
                <div class="content" id="divVipOnline" style="display:none;">
                    <img src="/templates/green/joincompany/join_company_1.png" style="width:100%;height:100%;position:relative;" />
                    <div class="cont show">
                        <table>
                            <tr>
                                <td colspan="3" style="color: rgb(72,24,42);font-size: 16px;padding-left: 55px;font-weight: bold;">
                                    {modelCompany.CompanyName}VIP卡
                                </td>
                            </tr>
                            <tr>
                                <td class="tdTip" style="vertical-align: bottom;"><div class="purple"><span>满99减5元/</span><span>外卖</span></div></td>
                                <td rowspan="2">
                                    <div class="person_info">
                                        <table style="margin-bottom:3px">
                                            <tr>
                                                <td rowspan="2" style="width: 38px;color: rgba(0,161,233,1);font-size: 27px;text-align: center;">{modelCompany.PersonCount}</td>
                                                <td style="font-size: 12px;color: rgba(0,161,233,1);">位</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px;color: rgba(0,161,233,1);">同事</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2" style="width: 38px;color: rgba(234,85,22,1);font-size: 27px;text-align: center;">{avaliableCompanyAmount}</td>
                                                <td style="font-size: 12px;color: rgba(234,85,22,1);">余额</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px;color: rgba(234,85,22,1);">元</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><div class="purple"><span>免外送费</span></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <%/if%>
                <div class="content" id="divVipOffline" style="display:none;">
                    <img src="/templates/green/joincompany/join_company_1.png" style="width:100%;height:100%;position:relative;" />
                    <div class="cont show">
                        <table>
                            <tr>
                                <td colspan="3" style="color: rgb(72,24,42);font-size: 16px;padding-left: 55px;font-weight: bold;">
                                    {modelCompany.CompanyName}VIP卡
                                </td>
                            </tr>
                            <tr>
                                <td class="tdTip" style="vertical-align: bottom;"><div class="red"><span>满39减2元/</span><span>堂吃</span></div></td>
                                <td rowspan="2">
                                    <div class="person_info">
                                        <table>
                                            <tr>
                                                <td rowspan="2" style="width: 38px;color: rgba(0,161,233,1);font-size: 27px;text-align: center;">{modelCompany.PersonCount}</td>
                                                <td style="font-size: 12px;color: rgba(0,161,233,1);">位</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px;color: rgba(0,161,233,1);">同事</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2" style="width: 38px;color: rgba(234,85,22,1);font-size: 27px;text-align: center;">{avaliableCompanyAmount}</td>
                                                <td style="font-size: 12px;color: rgba(234,85,22,1);">余额</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px;color: rgba(234,85,22,1);">元</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><div class="red"><span>抵扣现磨饮料</span></div></td>

                            </tr>
                        </table>
                    </div>
                </div>
                <%/if%>
                <!--堂吃优惠活动 Begin-->
                <div class="carnival" style="display:none;" id="divCarnivalOffline">
                    <div class="main">

                        <span class="btn active" id="btnCarnivalOffline" style="display: none;">加入购物车</span>
                        <span class="btn active" id="btnCarnivalOfflineClose" style="display: none;">不需要</span>
                    </div>
                </div>
                <!--堂吃优惠活动 End-->
                <div class="attach_info">
                    <div class="line">
                        <input type="text" id="phone" name="phone" placeholder="手机/请核对" value="{userModel.telphone}" style="width: 60%;display: inline-block;" />
                        <input type="text" id="nickname" name="nickname" placeholder="姓名" value="{userModel.qq}" style="width: 29%;display: inline-block;" />
                    </div>
                    <div class="line">
                        <input type="text" id="address" name="address" placeholder="地址/请核对" value="" style="width:95%" maxlength="40" />
                    </div>
                    <div class="line">
                        <textarea name="msg" id="message" rows="5" placeholder="配送时间：11:00-20:00. 外送无法满足个性化条件，请理解！" maxlength="18"></textarea>
                    </div>
                </div>
                <div class="padding"></div>


            </div>
            <div class="transdiv" style="left:100%;">
                <div style="overflow: hidden;">
                    <ul class="menu">
                        <%loop drcategory dtcategory%>
                        <li data-id="{drcategory[id]}" class="<%if drcategory__loop__id==1%>active<%/if%> <%if drcategory__loop__id>4%>large<%/if%>">
                            {drcategory[title]}
                        </li>
                        <%/loop%>
                    </ul>
                </div>
                <div class="suits">

                </div>
                <div class="page_mask"></div>
            </div>
            <div class="transdiv" style="left:200%;display:none;">
                <div class="address" id="orderaddress" style="padding-left: 15px;margin-top:10px;">

                </div>
                <div class="phone" id="ordertelphone" style="padding-left: 15px;">

                </div>
                <div class="od_status" style="padding-left: 15px;">
                    <span class="order_date" id="order_time_line"></span>
                    <span class="order_id" id="orderno"></span>
                </div>
                <ul class="o_list"></ul>
                <div class="total_price">
                    <span class="total" id="total">总计：</span>
                </div>
                <div class="notice" id="ordermessage">

                </div>
                <div class="progress">
                    <div class="success p-box gray">
                        <div>下单成功</div>
                        <span>ORDER SUCCESS</span>
                    </div>
                    <div class="next_step gray" style="display:none;">

                    </div>
                    <div class="make p-box gray">
                        <div>正在配单</div>
                        <span>MAKE THE ORDER</span>
                    </div>
                    <div class="next_step gray" style="display:none;"></div>
                    <div class="sent p-box gray">
                        <div>已送出</div>
                        <span>SEND OUT</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Main End-->
    <!--按钮 Begin-->
    <div class="bottom_nav" style="display:none;overflow:hidden;">
        <%if tab==2%>
        <%else%>
        <div id="divShopClose" style="transform:translate3d(0px, 0px, 0px);-ms-transform:translate3d(0px, 0px, 0px);-moz-transform:translate3d(0px, 0px, 0px);-webkit-transform:translate3d(0px, 0px, 0px);-o-transform:translate3d(0px, 0px, 0px);  transition: all 0.5s ease-in-out; height: 43px; width: 100%; display: none;">
            <img src="/templates/green/img/mp_close.png" />
        </div>
        <div id="divHereClose" style="transform:translate3d(0px, 0px, 0px);-ms-transform:translate3d(0px, 0px, 0px);-moz-transform:translate3d(0px, 0px, 0px);-webkit-transform:translate3d(0px, 0px, 0px);-o-transform:translate3d(0px, 0px, 0px);  transition: all 0.5s ease-in-out; height: 43px; width: 100%; display: none;">
            <img src="/templates/green/img/mp_here_close.jpg" />
        </div>
        <div id="divAreaClose" style="transform:translate3d(0px, 0px, 0px);-ms-transform:translate3d(0px, 0px, 0px);-moz-transform:translate3d(0px, 0px, 0px);-webkit-transform:translate3d(0px, 0px, 0px);-o-transform:translate3d(0px, 0px, 0px);  transition: all 0.5s ease-in-out; height: 43px; width: 100%;display:none;">
            <img src="/templates/green/img/mp_maxorder.png" />
        </div>
        <div id="divBottomBtn" style="transform: translate3d(0px, -43px, 0px); -ms-transform: translate3d(0px, -43px, 0px); -moz-transform: translate3d(0px, -43px, 0px); -webkit-transform: translate3d(0px, -43px, 0px); -o-transform: translate3d(0px, -43px, 0px); transition: all 0.5s ease-in-out; height: 43px; width: 100%;">
            <div class="btns" id="divCartOnline">
                <div class="b_continue">继续订餐</div>
                <div class="btn_list">
                    <div class="b_pay_offline b_full_width" style="display:none;" data-isshow="true">餐到付款</div>
                    <!--<div class="b_pay_online b_full_width" style="display:none;">支付宝支付</div>-->
                    <div class="b_pay_mppay b_full_width" style="display:none;" data-isshow="true">微信支付</div>
                    <div class="b_submit b_full_width">提交订单<span class="count" id="spanCount2">0</span>元</div>
                </div>
            </div>
            <div class="btns" id="divCartOffline" style="display:none;">
                <div class="btn_list">
                    <div class="b_pay_offline b_half_width" style="display: block; top: -46px;right:0px;width:100%;" id="btnOfflineOutCompany">
                        我一会到<i class="b_yes" style="margin-left: 10px;"></i>
                    </div>
                    <div class="b_continue b_full_width" id="btnOfflineContinue">继续订餐</div>
                </div>
                <div class="btn_list">
                    <div class="b_pay_offline b_half_width" style="display: block; top: -46px;right:0px;width:100%;" id="btnOfflineTakeOut">外带<i class="b_yes" style="margin-left: 10px;"></i></div>
                    <div class="b_submit b_full_width" id="btnOfflineSubmit"><font>立即支付</font><span class="count" id="spanCount3">0</span>元</div>
                </div>
            </div>
            <div class="bottom_button">
                <div class="button_order" style="margin-left: 0px;">

                </div>
                <div class="button_cart">
                    查看购物车<span class="count" id="spanCount">0</span>元
                </div>

            </div>
            <div class="btns">
                <div class="b_cart">查看购物车</div>
                <div class="b_history">继续订餐</div>
            </div>
        </div>
        <%/if%>
    </div>
    <!--按钮 End-->
    <!--订餐成功 Begin-->
    <div class="order_complete_window success" style="display: none; height: 1443px;">
        <div class="order_status_window">
            <div class="success_f1">
                <div class="thank_you">
                </div>
                <b class="status_txt">订餐成功</b> <span class="auto_close">5秒自动关闭</span> <span class="estimate_ok">
                    配送时间：11:00-20:00,预计30-50分钟到达
                </span>
                <div class="txt" style="margin-top: 10px; margin-bottom: 5px;">
                    您可在
                </div>
                <div class="btn_myorder">
                    <div class="cn">
                        订单处理
                    </div>
                </div>
                <div class="txt" style="margin-top:5px;">
                    中查询订单详情
                </div>
            </div>
        </div>
    </div>
    <!--订餐成功 End-->
    <!--堂吃订餐成功 Begin-->
    <div class="order_complete_window success_forhere" style="display: none;height: 1443px;">
        <div class="order_status_window">
            <div class="success_f1">
                <div class="thank_you">
                </div>
                <b class="status_txt">订餐成功</b> <span class="estimate_ok">
                    请留意取餐通知，并及时取餐！
                </span>
                <div class="txt" style="margin-top:5px;">
                    <span style="display: block; color: red; font-size: 24px;">取餐号</span>
                    <span style="display: block; color: red; font-size: 40px; font-weight: bold; " id="lblForHere"></span>
                </div>
            </div>
        </div>
    </div>
    <!--堂吃订餐成功 End-->
    <!--订餐失败 Begin-->
    <div class="order_complete_window fail" style="display: none; height: 1443px;">
        <div class="order_status_window">
            <div class="success_f1">
                <div class="fail_you">
                </div>
                <b class="status_txt">订餐失败,请再次确认</b>
            </div>
        </div>
    </div>
    <!--订餐失败 End-->
    <!--延时配送 Begin-->
    <div class="order_complete_window late" style="display:none;height: 100%;">
        <div class="order_status_window" style="text-align:center;">
            <div class="success_f1">
                <div class="late" style="background: url(/templates/green/img/weipopup.jpg) center top no-repeat; ">
                </div>
            </div>
            <span style="display: inline-block; width: 170px; color: white; background: red; margin-top: 10px; height: 26px; line-height: 25px; border-radius: 10px;" onclick="$('.order_complete_window.late').hide()">我已知晓</span>
        </div>
    </div>
    <!--延时配送 End-->
    <!--区域关闭 Begin-->
    <div class="order_complete_window arealock" style="display:none;height: 100%;">
        <div class="order_status_window" style="text-align:center;">
            <div class="success_f1">
                <div class="arealock" style="background: url(/templates/green/img/weipopuplock.jpg) center top no-repeat; ">
                </div>
            </div>
            <span style="display: inline-block; width: 170px; color: white; background: red; margin-top: 10px; height: 26px; line-height: 25px; border-radius: 10px;" onclick="$('.order_complete_window.arealock').hide()">我已知晓</span>
        </div>
    </div>
    <!--区域关闭 End-->
    <%if carnivalDetail!=null%>
    <!--满送活动 Begin-->
    <div class="carnival" style="display:none;background-color: rgba(0,0,0,0.9);" id="divCarnivalOnline">
        <div class="main">
            <span class="num"><%write (carnivalUserModel!=null?carnivalUserModel.Num:0)%></span>
            <span class="white">您当前累计订单次数</span>
            <span class="date white">本次活动截止：<%write carnivalModel.EndTime.ToString("yyyy年MM月dd日")%></span>
            <ul style="overflow: hidden; margin: 10px auto 20px auto; ">
                <%loop dr carnivalDetail%>
                <li style="height:108px;margin-right: -4px;">
                    <div class="item one" data-id="{dr[id]}" data-title="满{dr[change_nums]}次送{dr[title]}" data-change="{dr[change_nums]}" style="background: url({dr[mp_img_url]});">
                        <div class="cover active" style="display:none;"></div>
                        <div class="name">
                            {dr[title]}
                        </div>
                    </div>
                    <div style="border: 1px solid rgb(149,135,132); border-radius: 10px; margin-top: 3px;">
                        <span style="color: white;">需{dr[change_nums]}次</span>
                    </div>
                </li>
                <%/loop%>
            </ul>
            <span class="btn" id="btnCarnivalOnline">确定兑换</span>
            <span class="btn active" id="btnCarnivalClose">关闭</span>
            <span class="notice">*当天多次订餐累计为1次 <br />*请在满足条件后自主兑换下单,逾期则自动清零<br />LUCKINGPIE拥有最终解释权</span>
        </div>
    </div>
    <!--满送活动 End-->
    <%/if%>

    <input type="hidden" id="hfAreaId" value="{defaultAreaId}" />
    <input type="hidden" id="hfDisamountId" value="" />
    <input type="hidden" id="hfCookie" />
    <input type="hidden" id="hfOpenId" value="{openid}" />
    <input type="hidden" id="hflowamount" value="{config.lowamount}" />
    <input type="hidden" id="hflowamount_2" value="{config.lowamount_2}" />
    <input type="hidden" id="hffreedisamount" value="{config.freedisamount}" />
    <input type="hidden" id="hfdisamount" value="{config.disamount}" />
    <input type="hidden" id="hfClass" value="" />
    <input type="hidden" id="hfBackground1" value="{config.mp_backgroundimage}" />
    <input type="hidden" id="hfBackground2" value="{config.mp_backgroundimage2}" />
    <input type="hidden" id="hfTab" value="{tab}" />
    <input type="hidden" id="hfIsRun" value="{GetIsRun()}" />
    <input type="hidden" id="hfHereIsRun" value="{GetForHereIsRun()}" />
    <input type="hidden" id="hfAdditional" value="{additional}" />
    <input type="hidden" id="hfLastOnlineAreaId" value="{lastOnlineAreaId}" />
    <input type="hidden" id="hfLastOnlineArea" value="{lastOnlineArea}" />
    <input type="hidden" id="hfLastOfflineAreaId" value="{lastOfflineAreaId}" />
    <input type="hidden" id="hfLastOfflineArea" value="{lastOfflineArea}" />
    <input type="hidden" id="hflastOfflineAreaAddress" value="{lastOfflineAreaAddress}" />

    <input type="hidden" id="hfState" value="{state}" />
    <input type="hidden" id="hfDistributionArea" value="{distributionArea}" />
    <input type="hidden" id="hfLatLng" />
    <input type="hidden" id="hfIsNoDiscountGood" value="{isNoDiscountGood}" />
    <input type="hidden" id="hfDeliverPayMaxAmountForMp" value="{config.DeliverPayMaxAmountForMp}" />
    <input type="hidden" id="hfAvaliableCompanyAmount" value="{avaliableCompanyAmount}" />
    <input type="hidden" id="hfUserAddress" value="{userAddress}" />
    <input type="hidden" id="hfUserAddressId" value="" />
    <%template src=/_cnzz.html/%>
    <div style="display:none" id='container'></div>
</body>
</html>
